
	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="{{ data.medium   }}" class="icon brands fa-medium"><span class="label">Medium</span></a></li>
			<li><a href="{{ data.youtube  }}" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
			<li><a href="{{ data.twitter  }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a>   
			Design <a href="http://html5up.net/fractal">HTML5 UP</a></li>
		</ul>
	</footer>


