
	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="{{ data.twitter  }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; {{ data.copy }} - {{ data.app_title }}. Design <a href="http://html5up.net/fractal">HTML5 UP</a></li>
		</ul>
	</footer>


