

    <head>
        <title>{{ data.seo_title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="{{ data.seo_desc }}" />

        <link rel="stylesheet" href="/assets/css/main.css" />

    </head>
