<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

  {% include 'header.njk' %}

	<body class="is-preload">

    {% include 'navigation.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}

    {% include 'scripts.njk' %}

	</body>

</html>
